<div class="flex justify-center align-center">
    <div class="w-[50%] max-lg:hidden">
        <img
            src="img-hero.webp"
            alt="hero"
            width="400px"
            height="600px"
            loading="lazy"
            fetchpriority="high"
        />
    </div>
    <div class="w-[100%] m-auto flex flex-col justify-center align-center pr-20 max-lg:pr-0 max-lg:w-[90%] max-lg:py-10">
        <!-- <div id="topic-1" class="topics-hero text-2xl motionRight max-xl:text-xl max-md:text-lg max-sm:text-sm" [ngClass]="isLoading ? 'skeleton rounded-xl' : ''">
            <h1 class="text-color">1. Desbloquear Seu Potencial Interior</h1>
            <p>Liberte-se de crenças limitantes e descubra a força que existe dentro de você.</p>
        </div> -->

        <app-accordion 
            class="topics-hero motionRight"
            title="1. Desbloquear Seu Potencial Interior"    
            text="Liberte-se de crenças limitantes e descubra a força que existe dentro de você." 
        />
        <br>

        <app-accordion 
            class="topics-hero motionLeft"
            title="2. Gerenciar Suas Emoções"    
            text="Aprenda a reconhecer e lidar com os sabotadores emocionais que podem minar sua energia e foco." 
        />
        <br>

        <app-accordion 
            class="topics-hero motionRight"
            title="3. Construir Hábitos Positivos"    
            text="Desenvolva rotinas e habilidades que fortalecerão seu negócio e promoverão seu crescimento pessoal." 
        />
        <br>

        <app-accordion 
            class="topics-hero motionLeft"
            title="4. Equilibrar Maternidade e Carreira"    
            text="Encontre harmonia entre suas responsabilidades como mãe e empreendedora, cultivando uma vida plena e satisfatória." 
        />

        <br>

        <app-accordion 
            class="topics-hero motionRight"
            title="5. Criar uma Mentalidade de Abundância"    
            text="Transforme sua visão de mundo e abra-se para novas oportunidades e prosperidade." 
        />
    </div>
</div>