<div class="m-auto bg-base-100 px-10 py-25 min-h-[50vh] max-sm:px-5 max-sm:py-20">
  <h3 class="text-3xl text-center font-semibold uppercase mb-25 max-lg:text-2xl max-md:text-xl max-sm:text-lg">Histórias de Sucesso</h3>

  <iframe
    class="m-auto select-none max-xl:w-full max-xl:h-[500px] max-lg:h-[400px] max-md:h-[300px] max-sm:h-[200px]"
    src="https://www.youtube-nocookie.com/embed?listType=playlist&list=PLWf9rz6qJXEUcXNEonnkDZp1xBTbR6LC9&rel=0"
    width="1080"
    height="600"
    title="YouTube Video Player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    loading="lazy"
    alloworigin="*"
    allowfullscreen
  ></iframe>
</div>