<div class="m-auto bg-base-200 inset-shadow-sm inset-shadow-gray-300 shadow-lg shadow-gray-900 px-10 py-25 min-h-screen max-sm:px-5 max-sm:py-20">
  <h3 class="text-3xl text-center font-semibold uppercase mb-10 max-lg:text-2xl max-md:text-xl max-sm:text-lg">Sobre</h3>

  <div class="flex justify-center items-center w-full max-lg:flex-col">
    <div class="w-[50%] h-full pr-5 max-lg:hidden">
      <img
        ngSrc="about.webp"
        class="object-cover w-[550px] h-[650px] m-auto rounded-lg fill drop-shadow-xl/25 select-none pointer-events-none"
        width="550"
        height="650"
        alt="Mentora de Autoconhecimento"
        loading="lazy"
      />
    </div>

    <div class="w-[50%] h-full pl-5 flex flex-col items-center justify-center gap-2 max-lg:w-full max-lg:pl-0">
      <h4 class="text-base font-semibold uppercase mb-5 max-sm:text-sm">Mentora de Mulheres Potentes</h4>

      <p class="text-base text-accent max-sm:text-sm">Eu sou <span class="font-semibold">Leny Lima</span>! <span class="font-semibold">Enfermeira</span> por formação, <span class="font-semibold">especialista em gente</span> por vocação. Eu conheço a dor de viver no automático. Eu sei o que é ter que se reinventar após <span class="font-semibold">grandes tempestades</span> pessoais e profissionais.</p>

      <p class="text-base text-accent max-sm:text-sm">Mas foi justamente ao entender que a <span class="font-semibold">minha história</span> era o meu maior ativo que eu virei o jogo. Hoje, como <span class="font-semibold">palestrante</span>, host do <span class="font-semibold">PodDespertar</span> e criadora do <span class="font-semibold">Método Florescer</span>, eu dedico minha vida a encurtar o seu caminho.</p>

      <p class="text-base text-accent mb-5 max-sm:text-sm">Eu não vou te dar apenas a teoria. Eu vou segurar na sua mão e te <span class="font-semibold">guiar</span> pelo caminho que eu trilhei para sair dos <span class="font-semibold">bastidores</span> e assumir o palco da minha <span class="font-semibold">própria vida</span>.</p>

      <app-accordion
        title="Missão"
        text="Nossa missão não é apenas te ensinar a vender, é te ensinar a SER. Nós existimos para despertar mulheres que esqueceram da própria força, guiando-as através de um processo profundo de autoconhecimento para construírem negócios que tenham alma, propósito e lucro."
      />

      <app-accordion
        title="Visão"
        text="Estamos construindo a maior egrégora de empreendedoras conscientes do Brasil. Mulheres que não competem, mas se elevam. Visualizamos um mercado onde a liderança feminina não precisa ser dura para ser respeitada, nem exaustiva para ser lucrativa."
      />

      <app-accordion
        title="Metas"
        text="Provar para você que é possível ter sucesso profissional sem perder a sua saúde, a sua família ou a sua essência no processo."
      />

      <a href="https://wa.me/557196168724?text=Olá, gostaria de agendar uma sessão!" target="_blank" class="w-52 btn btn-md btn-primary rounded-full mt-5 max-sm:btn-sm">Agendar sessão</a>
    </div>
  </div>
</div>