<section class="flex items-center justify-center bg-base-100 h-screen m-auto">
	<div class="container flex flex-col items-center justify-center">
		<div class="max-w-md text-center px-4">
			<h2 class="mb-4 font-extrabold text-8xl text-primary drop-shadow-md">
				<span class="sr-only">Erro</span>404
			</h2>
			<p class="text-3xl font-bold md:text-4xl text-base-content mb-4">Página não encontrada!</p>
			<p class="mt-4 mb-8 text-base-content/80 font-medium">A página que você está procurando pode ter sido removida, mudado de nome ou está temporariamente indisponível.</p>
			<a routerLink="/" class="btn btn-primary rounded-full shadow-lg w-full sm:w-auto px-8 transition-transform hover:scale-105 active:scale-95">
				Voltar à Página Inicial
			</a>
		</div>
	</div>
</section>