.mentor {
    border-radius: 18px;
    border: 2px solid #FF9E03;
    background: rgba(217, 217, 217, 0.00);
}

p {
    font-style: normal;
    font-weight: 800;
    line-height: 205%; /* 65.6px */
    background: rgb(255,255,255);
    background: -webkit-linear-gradient(300deg, #ffffff 0%, #ff9100 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}