<div class="hero bg-base-200 min-h-screen relative">
    <img
        ngSrc="bg-hero.webp"
        class="object-cover object-center pointer-events-none select-none z-1"
        alt="Fundo da seção hero"
        priority
        fill
    />

    <div class="flex flex-row-reverse justify-center items-center z-10 max-md:flex-col max-md:items-start">
        <img
            ngSrc="profile.webp"
            class="m-auto rounded-full shadow-xl/30 w-[400px] h-[400px] object-cover object-center select-none pointer-events-none max-[1360px]:w-[250px] max-[1360px]:h-[250px] max-md:w-[200px] max-md:h-[200px] max-md:mb-5"
            width="400"
            height="400"
            alt="Foto de perfil"
            priority
        />

        <div class="w-[50%] mx-auto max-md:text-center max-[1360px]:w-[60%] max-md:w-[95%]">
            <h1 class="text-5xl text-primary font-bold uppercase text-shadow-[0.5px_0.5px_2px_#000] max-[1360px]:text-4xl max-lg:text-3xl max-md:text-2xl max-md:mt-5 max-sm:text-xl">Transforme sua vida!</h1>

            <h2 class="text-3xl font-light my-4 text-shadow-lg max-[1360px]:text-2xl max-lg:text-xl max-md:text-lg max-md:mt-0 max-md:mb-5 max-sm:text-base">Liberte-se de crenças limitantes e descubra seu verdadeiro potencial.</h2>

            <div class="flex gap-4 w-full max-md:flex-col max-md:mt-5">
                <a routerLink="/" fragment="mentorias" class="btn btn-lg btn-primary rounded-full shadow-lg w-1/3 max-[1360px]:btn-md max-lg:btn-sm max-md:w-full">Saber Mais</a>
                <a routerLink="/" fragment="contato" class="btn btn-lg btn-accent text-white rounded-full shadow-lg w-1/4 max-[1360px]:btn-md max-lg:btn-sm max-md:w-full">Contato</a>
            </div>
        </div>
    </div>
</div>