.topics-hero h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    line-height: 141%; /* 43.174px */
}

.topics-hero p{
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 192%;
}