<div class="m-auto w-[65%] h-full max-md:w-[95%]">
    <img 
        [ngClass]="isLoading ? 'skeleton rounded-xl' : ''"
        [src]="img" 
        class="motionBasic"
        width="100%"
        height="100%"
        alt="podcast"
        loading="lazy"
    >

    <br>
    
    <div 
        class="flex flex-col mt-5 mb-15 gap-3 w-full text-center motionBasic" 
        [ngClass]="isLoading ? 'skeleton rounded-xl' : ''"
    >
        <h3 [textContent]="text1" class="font-light line-through text-4xl max-lg:text-3xl max-sm:text-xl"></h3>
        <h3 [textContent]="text2" class="font-bold text-4xl max-lg:text-3xl max-sm:text-xl"></h3>
    </div>
</div>
