<div class="w-full my-10 motionBasic">
    <div 
        [ngClass]="isLoading ? 'skeleton rounded-xl' : ''"
        class="payment-card m-auto px-5 py-20 w-[540px] max-sm:w-[85%]"
    >
        <div class="mb-12 text-2xl text-center max-sm:text-xl">
            <h4 class="uppercase font-normal">Investimento de</h4>
            <h5
            [textContent]="value_through"
            class=" line-through font-bold">
            </h5>
        </div>
        
        <h5 class="text-2xl text-center uppercase font-normal mb-12 max-sm:text-xl">Por apenas</h5>
        
        <div class="flex flex-col items-center relative">
            <p class=
                "
                    text-lg font-bold absolute left-17 bottom-30
                    max-sm:text-base max-sm:bottom-0 max-sm:left-0 max-sm:relative max-sm:mr-35
                "
            >
                12x de
            </p>
            <div class="flex items-end">
                <span class="text-3xl font-bold mb-2 max-sm:text-xl max-sm:mb-0">R$</span>
                <span 
                    [textContent]="parcel_value" 
                    class="text-8xl font-bold max-sm:text-5xl"
                ></span>
            </div>
            <p 
                [textContent]="cash_value" 
                class="pt-1 font-bold"
            ></p>
        </div>
        <app-btn-vaga [link]="payment_link"/>
    </div>
    <p 
        [textContent]="encounters" 
        class="text-xl text-center font-bold py-2 uppercase max-sm:text-base">
    </p>
</div>