<footer class="footer footer-horizontal bg-base-100 text-accent items-center justify-between p-5 shadow-[0_0_20px_0_rgba(0,0,0,0.1)] max-sm:flex max-sm:flex-col max-sm:justify-center max-sm:items-center max-sm:gap-7">
  <div class="grid-flow-col items-center max-sm:grid-flow-row max-sm:gap-0">
    <a routerLink="/" fragment="inicio" class="btn btn-ghost p-0 rounded-full max-sm:m-auto">
      <img
        class="w-10"
        ngSrc="logo.webp"
        width="40"
        height="40"
        alt="logo"
        loading="lazy"
      />
    </a>
    <p class="text-base opacity-80 select-none max-sm:text-sm"> © {{year}} - Leny Lima</p>
  </div>

  <nav class="flex justify-end gap-4 text-sm opacity-80 max-sm:flex-col max-sm:justify-center max-sm:items-center max-sm:gap-2">
    <a routerLink="/politica-de-privacidade" class="btn-link select-none max-sm:text-sm">Política de Privacidade</a>
    <a routerLink="/termos-e-condicoes" class="btn-link select-none max-sm:text-sm">Termos e Condições</a>
  </nav>
</footer>