/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
    themes: black --default;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../public/background.png") ;
    background-size: cover;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.text-color {
    color: #FF9E03;
}