@import "tailwindcss";
@plugin "daisyui" {
    themes: black --default;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url("../public/background.png") ;
    background-size: cover;
    min-height: 100vh;
}

a {
    cursor: pointer;
}

.text-color {
    color: #FF9E03;
}

// animation
// basic motion

@keyframes scaleUpCenter {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

.motionBasic {
    animation: scaleUpCenter 2s ease 0s 1 normal forwards;
    animation-timeline: view();
    animation-range: entry 0%;
}