@use "tailwindcss";
@plugin "daisyui" {
	themes: bumblebee --default;
}

html{
	scroll-behavior: smooth;
	scrollbar-color: #433f3a #d4d4d4;
}

body {
	font-family: 'Montserrat', sans-serif;
	min-height: 100dvh;
}

a {
	cursor: pointer;
}

.text-color {
	color: #FF9E03;
}

// animation
// basic motion
@keyframes entrance {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes exit {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.entranceAnimation {
	animation: entrance 2s ease 0s 1 normal forwards;
}

.exitAnimation {
	animation: exit 2s ease 0s 1 normal forwards;
}