@use "tailwindcss";
@plugin "daisyui" {
    themes: black --default;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-size: cover;
}

body .bgHome {
    background: url("../public/background.webp") ;
    background-size: cover;
}

body .bgProduct {
    background: url("../public/background-product.webp") ;
    background-size: cover;
}

a {
    cursor: pointer;
}

.text-color {
    color: #FF9E03;
}

// animation
// basic motion

@keyframes scaleUpCenter {
	0% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}

.motionBasic {
    transform: scale(0.75);
    animation: scaleUpCenter 1s normal;
    animation-timeline: view();
    animation-range-start: entry;
}

