.card {
    height: 486px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FF9E03;
    background: #000;
}

.title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 70%; /* 10.5px */
}

.text {
    font-style: normal;
    font-weight: 700;
    line-height: 114%; /* 17.1px */
}